body {
  width: 100%;
  margin: 0;
  height: auto;
  background-color: #EEEEEE;
}


nav {
  justify-content: center;
}
.nav a {
  font-family: 'inspiration' , cursive;
  text-transform: uppercase;
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px lightblue;
 padding-top:25px;
 transition-property: font-size;
 transition-duration: 4s;
 transition-delay: 2s;
}
.nav a:hover {
  color: blue;
}

#main-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0%;
}

.Header {
grid-column: 1/4;
text-align: center;
font-size: x-large;
}

.header h1 {
  letter-spacing: 15px;
  text-transform: uppercase;
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px lightblue;
}

.header h2 {
  font-family: 'Satisfy', cursive;
}

.left-column {
  border-radius: 25px;
  color: white;
  background-image: url(./IMG_5818\ Large.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 325px;
  height: auto;
  margin: 5px 5px 5px 5px;
  text-align: center;
}

.center-column {
border-radius: 25px;
color: white;
background-image: url(./IMG_5728\ Large.jpeg);
background-size: cover;
background-repeat:no-repeat;
padding-top: 325px;
height: auto;
margin: 75px 5px 5px 5px;
text-align: center;
}

.right-column {
  border-radius: 25px;
  color: white;
  background-image: url(./Golf.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 325px;
  height: auto;
  margin: 150px 5px 5px 5px;
  text-align: center;
}

.footer {
  width: 100%;
  height: auto;
}

.SocialList {
  background-color: 	#EEEEEE;
  display: flex;
  justify-content: center;
  
}

.SocialList ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.SocialList button {
  background: transparent;
  border: none;
  border-radius: 35px;
  margin-top: 25px;
  transition: transform .7s ease-in-out;
}

.SocialList ul li button:hover {
  transform: rotate(360deg); }

  @media only screen and (max-width: 576px) {
    #main-container {
      display: block;
    }

    .center-column {
      margin: 0;
    }

    .right-column {
      margin: 0;
    }
  }