nav {
  justify-content: center;
}
.nav a {
  font-family: 'inspiration' , cursive;
  text-transform: uppercase;
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px lightblue;
 padding-top:25px;
 transition-property: font-size;
 transition-duration: 4s;
 transition-delay: 2s;
}
.nav a:hover {
  color: blue;
}

body > section > h2 {
  font-family: 'IBM Plex Serif', serif;
  text-transform: uppercase;

}

body > section > p {
text-transform: uppercase;
font-size: small;
}

body > section > div > div.col-md-3.text-center {

}

body > section > div > div.col-md-9.mb-md-0.mb-5 > div.text-center.text-md-left > a {
  background-color: black;
  border: none;
  font-family: 'IBM Plex Serif', serif;
}