header {
  text-align: center;
  width: 100%;
}
header h1 {
  color: aqua;
}
#mycarousel {
  width: 350px;
  height: 360px;
}

.main-container {
padding-top: 100px;
padding-bottom: 50px;
width: 100%;
height: auto;
display: flex;
justify-content: center;
}

.footer {
  width: 100%;
  height: auto;
}

.SocialList {
  display: flex;
  justify-content: center;
  
}

.SocialList ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.SocialList button {
  background: transparent;
  border: none;
  border-radius: 35px;
  margin-top: 25px;
  transition: transform .7s ease-in-out;
}

.SocialList ul li button:hover {
  transform: rotate(360deg);
}

a span {
  color: aqua;
}